h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

#fireButton {
  font-size: 150%;
}

span.glyphicon-download {
    font-size: 200%;
}

span.glyphicon-refresh {
    font-size: 200%;
}

.table th {
  text-align: center;
}

.table td {
  text-align: left;
}
