h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

span.glyphicon-download {
    font-size: 200%;
}

span.glyphicon-refresh {
    font-size: 200%;
}

.table th {
  text-align: center;
}

.table td {
  text-align: left;
}

md-progress-spinner {
  width: 36px;
  height: 36px;
  padding-top: 0px;
}

.fire-card {
  background-color: #ffcccc;
  align-items: center;
}

.main-cards {
  text-align: center;
}

md-card {
  padding: 5px;
  margin: 12px;
}

.fire-button {
  padding: 5px;
  margin: 10px;
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
}

.fire-spinner {
  margin: 0 auto;
}
