<md-grid-list cols="4" rowHeight="2:1">
  <md-grid-tile colspan=1 rowspan=1>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <h2>Scanning Options</h2>
      <h3>Click scanners to turn on / off.</h3>
    </div>
  </md-grid-tile>

  <md-grid-tile colspan=3 rowspan=2>
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
        <md-card [ngClass]="scanners.zap.checked ? 'scanner-card selected' : 'scanner-card not-selected'" fxLayout="column" fxLayoutAlign="space-around center" (click)="scanners.zap.checked = !scanners.zap.checked; isZapOnline()">
          <md-card-header>
            <md-card-title>OWASP ZAP Proxy</md-card-title>
            <md-card-subtitle><span [ngClass]="zapReachable ? 'isReachable' : 'isNotReachable'">{{zapOnlineStatus}}</span></md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <label class="zap-labels">Spider</label>
                <div [hidden]="!scanners.zap.spider.finished">
                  <md-icon class="icon-done" color=accent>done</md-icon>
                </div>
                <div [hidden]="scanners.zap.spider.finished">
                  <md-progress-spinner class="progress-spinner" [value]="scanners.zap.spider.progress"></md-progress-spinner>
                </div>
                <label class="zap-labels">{{scanners.zap.spider.progress}}%</label>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <label class="zap-labels">Scanner</label>
                <div [hidden]="!scanners.zap.scanner.finished">
                  <md-icon class="icon-done" color=accent>done</md-icon>
                </div>
                <div [hidden]="scanners.zap.scanner.finished">
                  <md-progress-spinner class="progress-spinner" [value]="scanners.zap.scanner.progress"></md-progress-spinner>
                </div>
                <label class="zap-labels">{{scanners.zap.scanner.progress}}%</label>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <!-- <md-checkbox class="checkbox" [(ngModel)]="scanners.zap.checked" (change)=isZapOnline()></md-checkbox> -->
            <button md-mini-fab class="refresh-button" mdTooltip="clear all ZAP sessions" (click)="clearZapSessions()"><md-icon>refresh</md-icon></button>
          </md-card-actions>
        </md-card>
        <md-card [ngClass]="scanners.sqlmap.checked ? 'scanner-card selected' : 'scanner-card not-selected'" fxLayout="column" fxLayoutAlign="space-between center" (click)="scanners.sqlmap.checked = !scanners.sqlmap.checked">
          <md-card-header>
            <md-card-title>sqlmap</md-card-title>
            <md-card-subtitle><span [ngClass]="sqlmapReachable ? 'isReachable' : 'isNotReachable'">{{sqlmapOnlineStatus}}</span></md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div [hidden]="!scanners.sqlmap.running">
                <div [hidden]="scanners.sqlmap.finished">
                  <md-progress-spinner class="progress-spinner" color="primary" mode="indeterminate"></md-progress-spinner>
                </div>
              </div>
              <div [hidden]="!scanners.sqlmap.finished">
                <md-icon class="icon-done" color=accent>done</md-icon>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <!-- <md-checkbox class="checkbox" [(ngModel)]="scanners.sqlmap.checked"></md-checkbox> -->
          </md-card-actions>
        </md-card>
        <md-card [ngClass]="scanners.restsec.xss.checked ? 'scanner-card selected' : 'scanner-card not-selected'" fxLayout="column" fxLayoutAlign="space-between center" (click)="scanners.restsec.xss.checked = !scanners.restsec.xss.checked">
          <md-card-header>
            <md-card-title>RestSec XSS Scanner</md-card-title>
            <md-card-subtitle><span class="inbuilt-badge">BUILT-IN</span></md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div [hidden]="!scanners.restsec.xss.running">
                <div [hidden]="scanners.restsec.xss.finished">
                  <md-progress-spinner class="progress-spinner" color="primary" mode="indeterminate"></md-progress-spinner>
                </div>
              </div>
              <div [hidden]="!scanners.restsec.xss.finished">
                <md-icon class="icon-done" color=primary>done</md-icon>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <!-- <md-checkbox class="checkbox" [(ngModel)]="scanners.restsec.xss.checked"></md-checkbox> -->
          </md-card-actions>
        </md-card>
        <!-- <div fxLayout="column" fxLayoutAlign="space-between center"> -->
        <md-card [ngClass]="scanners.restsec.headers.checked ? 'scanner-card selected' : 'scanner-card not-selected'" fxLayout="column" fxLayoutAlign="space-between center" (click)="scanners.restsec.headers.checked = !scanners.restsec.headers.checked">
          <md-card-header>
            <md-card-title>RestSec Security Header Scanner</md-card-title>
            <md-card-subtitle><span class="inbuilt-badge">BUILT-IN</span></md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div [hidden]="!scanners.restsec.headers.running">
                <div [hidden]="scanners.restsec.headers.finished">
                  <md-progress-spinner class="progress-spinner" color="primary" mode="indeterminate"></md-progress-spinner>
                </div>
              </div>
              <div [hidden]="!scanners.restsec.headers.finished">
                <md-icon class="icon-done" color=primary>done</md-icon>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <!-- <md-checkbox class="checkbox" [(ngModel)]="scanners.restsec.headers.checked"></md-checkbox> -->
          </md-card-actions>
        </md-card>
        <!-- </div> -->
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <button md-mini-fab class="check-button" (click)="checkAll()"><md-icon>done_all</md-icon></button>
        <button md-mini-fab class="uncheck-button" (click)="uncheckAll()"><md-icon>close</md-icon></button>
        <button md-mini-fab color='primary' class="finished-button" (click)="finishedMock()" mdTooltip="MOCK! (FAST FORWARD)"><md-icon>play_arrow</md-icon></button>
      </div> -->
    </div>
  </md-grid-tile>

  <md-grid-tile colspan=1 rowspan=1>
    <md-card>
      <md-checkbox class="example-margin" [checked]="addAllHttpVerbs">
        Scan all HTTP Verbs
      </md-checkbox>
    </md-card>
  </md-grid-tile>

</md-grid-list>
