md-grid-tile {
  /*background: lightgray;*/
}

.progress-card {
  width: 600px;
}

.progress-spinner {
  width: 52px;
  margin: 0 auto;
}

.isReachable {
  border: 1px solid green;
  border-radius: 5px;
  font-size: 10px;
  color: green;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.isNotReachable {
  border: 1px solid red;
  border-radius: 5px;
  font-size: 10px;
  color: red;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.zap-labels {
  color: grey;
  margin: 5px;
}

.icon-done {
  font-size: 50px;
  align-items: center;
  margin: 20px;
  margin-left: 0px;
}

/*not in use*/
.scanner-labels {
  border: 2px solid #303030;
  background: #747474;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
  color: #cccccc;
  margin: 5px;
}
