<md-grid-list cols="4" rowHeight="2:1">
  <md-grid-tile colspan=1 rowspan=1>
    <h2>Scanning Options</h2>
  </md-grid-tile>

  <md-grid-tile colspan=3 rowspan=2>
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutAlign="space-around strech" fxLayoutGap="10px">
        <md-card>
          <md-card-header>
            <md-card-title>OWASP ZAP Proxy</md-card-title>
            <md-card-subtitle>-</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <div [hidden]="!isFinished.zapSpider">
                  <md-icon class="icon-done">done</md-icon>
                </div>
                <div [hidden]="isFinished.zapSpider">
                  <md-progress-spinner class="progress-spinner" color="progressSpinnerZap.color" mode="progressSpinnerZap.mode" [value]="spiderProgress"></md-progress-spinner>
                </div>
                <label class="zap-labels">Spider</label>
                <label class="zap-labels">{{spiderProgress}}%</label>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <div [hidden]="!isFinished.zapScanner">
                  <md-icon class="icon-done">done</md-icon>
                </div>
                <div [hidden]="isFinished.zapScanner">
                  <md-progress-spinner class="progress-spinner" color="progressSpinnerZap.color" mode="progressSpinnerZap.mode" [value]="scannerProgress"></md-progress-spinner>
                </div>
                <label class="zap-labels">Scanner</label>
                <label class="zap-labels">{{scannerProgress}}%</label>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <md-checkbox class="checkbox" [(ngModel)]="checkedScanners.checkedZap"></md-checkbox>
          </md-card-actions>
        </md-card>
        <md-card>
          <md-card-header>
            <md-card-title>sqlmap</md-card-title>
            <md-card-subtitle>-</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div [hidden]="!isFinished.sqlmap">
                <md-icon class="icon-done">done</md-icon>
              </div>
              <div [hidden]="isFinished.sqlmap">
                <md-progress-spinner class="progress-spinner" color="primary" mode="determinate" [value]="15"></md-progress-spinner>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <md-checkbox class="checkbox" [(ngModel)]="checkedScanners.checkedSqlmap"></md-checkbox>
          </md-card-actions>
        </md-card>
        <md-card>
          <md-card-header>
            <md-card-title>RestSec</md-card-title>
            <md-card-subtitle>XSS Scanner</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div [hidden]="!isFinished.restsecXSS">
                <md-icon class="icon-done">done</md-icon>
              </div>
              <div [hidden]="isFinished.restsecXSS">
                <md-progress-spinner class="progress-spinner" color="primary" mode="determinate" [value]="85"></md-progress-spinner>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <md-checkbox class="checkbox" [(ngModel)]="checkedScanners.checkedRestsecXss"></md-checkbox>
          </md-card-actions>
        </md-card>
        <md-card>
          <md-card-header>
            <md-card-title>RestSec</md-card-title>
            <md-card-subtitle>Security Header Scanner</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <div [hidden]="!isFinished.restsecHeaders">
                <md-icon class="icon-done">done</md-icon>
              </div>
              <div [hidden]="isFinished.restsecHeaders">
                <md-progress-spinner class="progress-spinner" color="primary" mode="determinate" [value]="55"></md-progress-spinner>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <md-checkbox class="checkbox" [(ngModel)]="checkedScanners.checkedRestsecHeader"></md-checkbox>
          </md-card-actions>
        </md-card>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <button md-mini-fab class="check-button" (click)="checkAll()"><md-icon>done_all</md-icon></button>
        <button md-mini-fab class="uncheck-button" (click)="uncheckAll()"><md-icon>cancel</md-icon></button>
      </div>
    </div>
  </md-grid-tile>

  <md-grid-tile colspan=1 rowspan=1>
    <md-card>
      <md-checkbox class="example-margin" [checked]="addAllHttpVerbs">
        All HTTP Verbs
      </md-checkbox>
    </md-card>
  </md-grid-tile>

</md-grid-list>
