/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/

// @import "./styles/custom.scss";

@import '~@angular/material/theming';

@include mat-core();

@import 'styles/light-theme.scss';
@import 'styles/dark-theme.scss';

.light-theme {
  @include angular-material-theme($light-theme);
  background-color: #00BCD4;
  md-grid-tile { background: lightgray; };
  .scanner-card.selected { background: white; box-shadow: 0px 0px 3px 3px #00BCD4; }
  .scanner-card.not-selected { background: lightgray; }
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  background-color: #212121;
  md-grid-tile { background: gray; };
  .scanner-card.selected { background: lightgray; color: black; box-shadow: 0px 0px 3px 3px #FF9800; }
  .scanner-card.not-selected { background: gray; }
}
