<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>RestSec</title>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    -->
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- Bootstrap theme -->
    <link href="../static/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/bootstrap-theme.min.css}" />
    <!-- Custom styles for this template -->
    <link href="../static/report.css" rel="stylesheet" th:href="@{/report.css}" />
</head>

<body>

<header>

</header>

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>RestSec</h1>
        <p>Easy-To-Use Vulnerability Scanner. For Developers.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
        <h2>Crawler Type</h2>
        <p>Please choose if you want to provide a Swagger File or if you want to scan automatically on a HATEOAS compliant resource.</p>
        <form>
            <div class="radio">
                <label><input type="radio" name="optradio" checked="">Swagger</input></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">HATEOAS</input></label>
            </div>
        </form>
        </div>

        <div class="col-sm-6">
            <h2>Scanner Types</h2>
            <p>Please choose what you want to check.</p>
            <form>
                <div class="checkbox">
                    <label><input type="checkbox" value="">OWASP ZAP Proxy</input></label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">SQLMap</input></label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">RestSec XSS Scanner</input></label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">RestSec Security Header Scanner</input></label>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Swagger File</td>
            <td><button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary btn-md">Upload Swagger</button></td>
            <td>nothing uploaded yet</td>
        </tr>
        <tr>
            <td>HATEOAS Link</td>
            <td><input type="text" class="form-control" id="usr" /></td>
            <td>nothing scanned yet</td>
        </tr>
        </tbody>
    </table>


    <h2>Authorization</h2>
    <label>Authorization token (OAuth 2.0):</label>
    <input type="text" class="form-control" id="token" />

</div>

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Summary</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>IP</th>
                    <th><input type="text" class="form-control" id="ip-field" value="183.12.29.182"/></th>
                </tr>
                <tr>
                    <th>Port</th>
                    <th><input type="text" class="form-control" id="port-field" value="80"/></th>
                </tr>
                <tr>
                    <th>REST API Endpoint</th>
                    <th><input type="text" class="form-control" id="endpoint-field" value="/api/rest/"/></th>
                </tr>
                <tr>
                    <th>Crawler Type</th>
                    <th>Swagger</th>
                </tr>
                <tr>
                    <th>Authorization</th>
                    <th>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxZDz ...</th>
                </tr>
                <tr>
                    <th>...</th>
                    <th>...</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="text-center">
        <button type="button" class="btn btn-danger" style="margin: 15px;">Fire!</button>
        <div class="progress center-block" style="width: 200px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span>
                    Loading ...
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
<footer>
    <div class="footer">
        <div class="col-12">
            <p>2017 - <a href="https://www.github.com/">RestSec Vulnerability Scanner</a></p>
        </div>
    </div>
</footer>
</div>

</body>

</html>
