md-grid-tile {
  /*background: lightslategray;*/
  background: lightgray;
  /*color: white;*/
}

.upload-button {
  text-transform: uppercase;
}

.radio-group {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.example-margin {
  margin: 0 10px;
}

md-card {
  margin: 5px;
}

md-progress-spinner {
  width: 36px;
  height: 36px;
}

.progress-spinner {
  margin: 0 auto;
}

.input-field {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="file"] {
    display: none;
}

.loading-spinner {
  width: 24px;
  margin: 0px;
  margin-left: 16px
}
